---
import Landing from "../components/Landing";
import NavBar from "../components/NavBar";
---

<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Chevaliers des Mers</title>
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <main class="overflow-hidden">
      <NavBar />
      <Landing />
    </main>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"
    ></script>
  </body>
</html>
