---
import Landing from "../components/Landing.astro";
import NavBar from "../components/NavBar";
---

<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Chevaliers des Mers</title>

    <!-- Primary Meta Tags -->
    <title>Chevaliers des Mers</title>
    <meta name="title" content="Chevaliers des Mers" />
    <meta
      name="description"
      content="Club de plongée associatif à Marseille, l'Estaque."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.cdm.blue/" />
    <meta property="og:title" content="Chevaliers des mers" />
    <meta
      property="og:description"
      content="Club de plongée associatif à Marseille, l'Estaque."
    />
    <meta property="og:image" content="/boat-crop.jpg" />
    <meta name="keywords" content="Plongée, Association, Marseille" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.cdm.blue/" />
    <meta property="twitter:title" content="Chevaliers des Mers" />
    <meta
      property="twitter:description"
      content="Club de plongée associatif à Marseille, l'Estaque."
    />
    <meta property="twitter:image" content="/boat-crop.jpg" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <main class="overflow-hidden">
      <NavBar client:load />
      <Landing />
    </main>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"
    ></script>
    <script defer src="/_vercel/insights/script.js"></script>
  </body>
</html>
