---
import { Icon } from "astro-icon";
import { ANCHORS } from "../utils/anchors";
---

<section class="h-screen bg-contain w-screen px-8 md:px-16" id={ANCHORS.about}>
  <div class="animate-swim col-span-3 h-25 max-md:hidden">
    <Icon
      name="fish"
      class="w-12 text-slate-900 opacity-50 animate-custom-bounce ml-2"
    />

    <Icon
      name="fish"
      class="w-9 text-slate-900 opacity-50 animate-custom-bounce"
    />
    <Icon
      name="fish"
      class="w-12 text-slate-900 opacity-50 animate-custom-bounce"
    />

    <Icon
      name="fish"
      class="w-9 text-slate-900 opacity-50 animate-custom-bounce"
    />
    <Icon
      name="fish"
      class="w-12 text-slate-900 opacity-50 animate-custom-bounce ml-2"
    />
  </div>
  <div
    class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-2 items-center mt-16"
  >
    <div class="m-auto animate-float md:p-8 max-md:order-last max-md:mt-16">
      <!-- <img src="/turtle.gif" class="m-auto object-cover py-16" /> -->
      <div
        class="m-auto text-xs md:text-base text-white w-16 md:w-28 h-8 md:h-12 flex items-center justify-center self-stretch rounded-full border-2 border-blue-400 bg-blue-100 bg-opacity-25 italic"
      >
        <span> Bloup ! 👋</span>
      </div>
      <img src="/diver.png" class="w-1/3 md:w-1/2 m-auto" />
      <!-- <img src="/fish.png" class="w-1/4 skew-y-2 px-4" /> -->
    </div>
    <div class="text-gray-100 md:col-span-2 xl:col-span-1 max-md:mt-32">
      <!-- <img
      src={"/jellyfish.png"}
      class="animate-spin-slow opacity-8 m-auto w-1/3 max-w-md pt-24"
    /> -->
      <h1
        class="text-primary-100 mb-4 text-2xl font-extrabold leading-none tracking-tight md:text-4xl lg:text-5xl"
      >
        Club de plongée associatif à{" "}
        <span class="text-yellow-400">Marseille</span>
      </h1>
      <p class="my-2 lg:text-lg">
        Les <em>Chevaliers des Mers</em> est une association de plongeurs basée au
        port de <b class="text-primary-200">Corbières</b> (Estaque). Nous plongeons
        toute l&apos;année sur les tombants et épaves de la{" "}
        <b class="text-primary-200">Côte Bleue</b> et du{" "}
        <b class="text-primary-200">Parc National des Calanques</b>.
      </p>
      <p class="my-2 lg:text-lg">
        Nous sommes principalement un club de plongeurs{" "}
        <b class="text-primary-200">autonomes</b> et équipés, mais nous organisons
        ponctuellement des formations lorsqu&apos;un encadrement est disponible.
      </p>
      <p class="my-2 lg:text-lg">
        Une partie des chevaliers pratique également la plongée en{" "}
        <b class="text-primary-200">circuit fermé</b> (recycleurs ♻️)
      </p>
      <!-- <img src="/fish.png" class="w-1/4 skew-y-2 px-4 max-md:hidden" /> -->
    </div>
  </div>
</section>
