---
---

<section class="h-screen bg-[url(/boat.jpeg)] bg-cover bg-bottom relative">
  <div class="mx-auto py-16 text-center md:py-40">
    <div>
      <h1
        class="mb-4 text-5xl px-4 lg:px-12 font-bold leading-none tracking-tight text-white md:text-6xl lg:text-6xl max-md:pt-20"
      >
        Le Graal est <span class="text-primary-600 font-extrabold"
          >sous l&apos;eau</span
        > à{" "}
        <span class="text-yellow-500 font-extrabold">Marseille</span>
      </h1>
      <div class="absolute bottom-0 m-auto w-screen z-20 px-4">
        <p
          class="mb-8 text-xl font-medium text-white sm:px-16 md:text-2xl lg:text-4xl xl:px-48"
        >
          Les Chevaliers des Mers - Club de plongée associatif à Marseille
        </p>
        <p
          class="mb-8 md:mb-16 text-lg font-normal text-gray-200 sm:px-16 md:text-xl lg:text-3xl xl:px-48 max-w-5xl lg:max-w-6xl mx-auto"
        >
          Plongeurs autonomes et enthousiastes, nous explorons les fonds
          mediterranéens à la découverte de leurs trésors. Rejoignez nos
          aventures.
        </p>
      </div>
    </div>
    <div
      class="w-screen h-1/6 absolute bottom-0 bg-gradient-to-b from-transparent to-surface-blue"
    >
    </div>
  </div>
</section>
