---
import decor1 from "/decor1.png";
import Hero from "./Hero.astro";
import About from "./About.astro";
import DiveWithUs from "./DiveWithUs.astro";
import Gallery from "./Gallery";
import Contact from "./Contact.astro";
---

<div class="bg-surface-blue">
  <Hero />
  <div class="bg-gradient-to-b from-surface-blue to-abyss-blue">
    <div class="flex justify-center">
      <div class="max-w-screen-2xl">
        <About />
        <DiveWithUs />
        <Gallery client:load />
        <Contact />
      </div>
    </div>
    <div
      class="relative h-screen w-screen bg-[url('/bottom-cutout.png')] bg-contain bg-no-repeat bg-bottom flex justify-center"
    >
      <div class="absolute top-1/4 left-0 animate-swim">
        <div
          class="text-xs fit-content md:text-base text-white px-2 mb-8 h-8 md:h-12 flex items-center justify-center self-stretch rounded-full border-2 border-blue-400 bg-blue-100 bg-opacity-25 italic"
        >
          <span> Allez, viens, on est bien !</span>
        </div>
        <div style={{ transform: "rotateY(180deg) rotateZ(-25deg)" }}>
          <img src="/fish.png" class="w-48 ml-32 animate-custom-bounce" />
        </div>
      </div>
    </div>
  </div>
</div>
