---
import decor1 from "/decor1.png";
import Hero from "./Hero.astro";
import About from "./About.astro";
import DiveWithUs from "./DiveWithUs.astro";
import Gallery from "./Gallery";
import Contact from "./Contact.astro";
---

<div class="bg-surface-blue">
  <Hero />
  <div class="bg-gradient-to-b from-surface-blue to-abyss-blue">
    <About />
    <DiveWithUs />
    <Gallery client:load />
    <Contact />
    <div class="relative h-screen">
      <img src={decor1} class="absolute bottom-0 left-0 w-2/5" />
      <img
        src={decor1}
        class="absolute bottom-0 right-0 w-2/5"
        style={{ transform: "rotateY(180deg)" }}
      />
    </div>
  </div>
</div>
